/**
 * Testimonials
 *
 * Styles which integrate this theme with the Testimonials plugin.
 * This stylesheet is only enqueued if Testimonials is activated.
 * http://wordpress.org/plugins/testimonials-by-woothemes/
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
    -ms-transform: rotate(180deg);
    /* IE9 */
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
.widget_woothemes_testimonials .quote {
  width: 100%;
  list-style: none;
  float: left;
  margin: 0 0 1.618em;
  display: none;
  -webkit-backface-visibility: hidden;
}
.widget_woothemes_testimonials .quote .testimonials-text {
  margin: 0 0 1.2em 2.618em;
  font-size: 1.1em;
  font-family: "Georgia";
  font-style: italic;
}
.widget_woothemes_testimonials .quote img {
  width: 2.244em;
  height: 2.244em;
  margin: 0;
  float: left;
  border: 1px solid #eaeaea;
  padding: .302em;
}
.widget_woothemes_testimonials .quote .author {
  word-wrap: break-word;
  float: left;
  display: block;
  font-style: normal;
  font-weight: bold;
  width: 50%;
}
.widget_woothemes_testimonials .quote .author .excerpt {
  display: block;
  font-style: italic;
  font-weight: normal;
}
.widget_woothemes_testimonials .quote .author .url {
  font-weight: normal;
}
.widget_woothemes_testimonials .quote blockquote {
  padding: 0 !important;
  margin: 0 !important;
}
.widget_woothemes_testimonials .quote blockquote:before {
  display: none !important;
}
.widget_woothemes_testimonials .quote a.avatar-link {
  position: relative;
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 2.244em 1.618em 1.618em 0;
}
.widget_woothemes_testimonials .quote a.avatar-link img {
  width: 100%;
  height: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.widget_woothemes_testimonials .quote .author {
  display: inline-block;
  margin: 1.618em 0 0 0;
  font-weight: 700;
  font-style: normal;
}
.widget_woothemes_testimonials .quote .author .excerpt {
  display: block;
  font-weight: normal;
  font-style: italic;
}
.widget_woothemes_testimonials .quote .author .url {
  display: block;
  font-weight: 400;
}
.widget_woothemes_testimonials .quote .author .url a {
  color: #7f7f7f;
}
@media only screen and (min-width: 768px) {
  #content .widget_woothemes_testimonials .columns-2:after,
  #content .widget_woothemes_testimonials .columns-3:after,
  #content .widget_woothemes_testimonials .columns-4:after,
  #content .widget_woothemes_testimonials .columns-5:after,
  #content .widget_woothemes_testimonials .columns-6:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote,
  #content .widget_woothemes_testimonials .columns-3 .quote,
  #content .widget_woothemes_testimonials .columns-4 .quote,
  #content .widget_woothemes_testimonials .columns-5 .quote,
  #content .widget_woothemes_testimonials .columns-6 .quote {
    float: left;
    margin-right: 3.8%;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote.first,
  #content .widget_woothemes_testimonials .columns-3 .quote.first,
  #content .widget_woothemes_testimonials .columns-4 .quote.first,
  #content .widget_woothemes_testimonials .columns-5 .quote.first,
  #content .widget_woothemes_testimonials .columns-6 .quote.first {
    clear: both;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote.last,
  #content .widget_woothemes_testimonials .columns-3 .quote.last,
  #content .widget_woothemes_testimonials .columns-4 .quote.last,
  #content .widget_woothemes_testimonials .columns-5 .quote.last,
  #content .widget_woothemes_testimonials .columns-6 .quote.last {
    margin-right: 0;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote {
    width: 48%;
  }
  #content .widget_woothemes_testimonials .columns-3 .quote {
    width: 30.75%;
  }
  #content .widget_woothemes_testimonials .columns-4 .quote {
    width: 22.05%;
  }
  #content .widget_woothemes_testimonials .columns-5 .quote {
    width: 16.9%;
  }
  #content .widget_woothemes_testimonials .columns-6 .quote {
    width: 13.5%;
  }
  #sidebar .widget_woothemes_testimonials .columns-2 .quote,
  #sidebar .widget_woothemes_testimonials .columns-3 .quote,
  #sidebar .widget_woothemes_testimonials .columns-4 .quote,
  #sidebar .widget_woothemes_testimonials .columns-5 .quote,
  #sidebar .widget_woothemes_testimonials .columns-6 .quote {
    width: 100%;
    float: none;
    margin-right: 0;
    clear: both;
  }
}
